<!DOCTYPE html>
<html lang="en">
<head>
  <title>Get started</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form method="get" action="/resultGet">
  <input id="a" name="a" type="text"><br>
  <select id="operation" name="operation">
    <option value="+" label="+"/>
    <option value="-" label="-"/>
    <option value="*" label="*"/>
    <option value="/" label="/"/>
  </select><br>
  <input id="b" name="b" type="text"><br>
  <input name="submit" value="отправить" type="submit">
</form><br/>
<a href="/">Main</a>
</body>
</html>